task1/node_modules
task2/node_modules
task3/node_modules
Question-Routes/node_modules
U-Routes/node_modules
D-Routes/node_modules
mysql-conn/node_modules
bus_booking_system/node_modules
Student_Management_API/node_modules
Sequelize/node_modules
BusWithSequelize/node_modules
FullStackBooking/node_modules
npm-debug.log
.env

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Logs
*.log